@model IEnumerable<ShopOnline.Models.LoaiSach>

@{
	ViewBag.Title = "Loại sách";
}

<div class="card mt-3">
	<h5 class="card-header">@ViewBag.Title</h5>
	<div class="card-body">
		<p><a class="btn btn-success" href="@Url.Action("Create")" role="button"><i class="fal fa-plus"></i> Thêm mới</a></p>
		<table class="table table-bordered table-hover table-sm mb-0">
            <tr>
                <th width="5%">#</th>
                <th>
                    @Html.DisplayNameFor(model => model.TenLoai)
                </th>
                <th width="5%">Sửa</th>
                <th width="5%">Xóa</th>
            </tr>
			@{ int stt = 1; }
			@foreach (var item in Model)
			{
				<tr>
					<td>@stt</td>
					<td>
						@Html.DisplayFor(modelItem => item.TenLoai)
					</td>
					<td class="text-center">
						<a href="@Url.Action("Edit", new { id = item.ID })"><i class="fal fa-edit"></i></a>
					</td>
					<td class="text-center">
						<a href="@Url.Action("Delete", new { id = item.ID })"><i class="fal fa-trash-alt text-danger"></i></a>
					</td>
				</tr>
				stt++;
			}
		</table>
	</div>
</div>